---
title: Horoshop | Order page

items: [
{
  img: 'img/camera.jpg',
  desc: 'Цифровий фотоапарат Nikon D5100 kit (18-55 VR)',
  amount: '6 568 грн. × 1 шт.',
  total: '6 568 грн.'
},
{
  img: 'img/iphone.jpg',
  desc: 'MP3-плеер Apple iPod Touch 5Gen 32Gb blue',
  amount: '3 689 грн. × 1 шт.',
  total: '3 689 грн.'
}
]
---
{% extends "layouts/_layout.html" %}

{% block content %}


<div class="order">
  <div class="container">
    <h1 class="order__title">Оформление заказа</h1>
    <div class="order__wrap">
      <div class="customer">
        <ul class="customer__tabs">
          <li  class="customer__tabs__user active">Я новый покупатель</li>
          <li class="customer__tabs__user inactive">Я зарегестрированный покупатель</li>
        </ul>
        <div class="customer__wrap">
          <div class="customer__info">
            <h2 class="order__info">Получатель заказа</h2>
            <form action="">
              <label class="order__label" for="customer-name">
                <span>Имя и фамилия</span>
              </label>
              <input type="text" id="customer-name" class="order__input" name="username">
              <br>
              <label class="order__label" for="customer-phone">
                <span>Телефон</span>
              </label>
              <input type="tel" id="customer-phone" class="order__input"  name="phone">
              <br>
              <label class="order__label" for="customer-city">
                <span>Город</span>
              </label>
              <input type="text" id="customer-city" class="order__input" name="city" placeholder="Киев">
              <br>
              <label class="order__label" for="customer-email">
                <span>Эл. почта</span>
              </label>
              <input type="email" id="customer-email" class="order__input" name="email" placeholder="user@mail.com">
              <a href="" id="comment" class="order__comment">Добавить комментарий к заказу</a>
              <textarea id="comment__content" class="customer__comment is-hide" rows="5"></textarea>
            </form>
          </div>
          <div class="customer__delivery">
            <h2 class="order__info">Доставка</h2>
            <span>
              <label for="delivery"></label>
              <select id="delivery" class="order__select" name="delivery">
                <option value="np">"Новая почта" - 25 грн.</option>
                <option value="ms">"Мист экспресс" - 20 грн.</option>
                <option value="sp">"Самовывоз" - бессплатно</option>
              </select>
            </span>
            <div class="customer__delivery__warehouse">
              <label for="warehouse">
                <span class="order__label">Адрес склада</span>
              </label>
              <select id="warehouse" class="order__select" name="warehouse">
                <option value="np#8">Львов, Отделение №8 (до 30 кг): ул. Гетьмана И. Мазепы, 37</option>
                <option value="np#7">Львов, Отделение №7 (до 30 кг): ул. Гетьмана И. Мазепы, 36</option>
                <option value="np#6">Львов, Отделение №6 (до 30 кг): ул. Гетьмана И. Мазепы, 35</option>
              </select>
            </div>
          </div>
          <div class="customer__payment">
            <h2 class="order__info">Оплата</h2>
            <span>
              <label for="payment"></label>
              <select id="payment" class="order__select" name="payment">
                <option value="cod">наложенный платёж</option>
                <option value="vm">Visa/Master Card</option>
                <option value="cash">наличными в офисе</option>
              </select>
            </span>
          </div>
          <div class="order__submit">
            <button class="order__submit__btn" type="submit">Оформить заказ</button>
          </div>
        </div>
      </div>
      <div class="order__list">
        <h2 class="order__list__title">Ваш заказ</h2>
        {%  for item in items  %}
        <div class="order__item">
          <div class="order__item__img">
            <img src="{{item.img}}" alt="order image">
          </div>
          <div class="order__item__wrap">
            <div class="order__item__desc">
              <a class="order__item__link" href="">{{item.desc}}</a>
            </div>
            <div class="order__item__amount">
              <span>{{item.amount}}</span>
            </div>
            <div class="order__item__total">
              <span>{{item.total}}</span>
            </div>
          </div>
        </div>
        {% endfor %}
        <div class="order__sum">
          <span>9 769,15 грн.</span>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
